<div class="p-3">
    <!-- toolbar -->
    <div class=" mx-4 mt-4 pb-3 border-b">
        <div class="mb-5 flex justify-between">
            <!-- logo -->
            <h1 class="text-3xl font-semibold border-l-[6px] border-sky-500 pl-3">{{title}}</h1>
            <!-- method button -->
            <div class="flex items-center space-x-2" *ngIf="isAdmin">
                <!-- edit -->
                <button
                    class="bg-sky-500 shadow-md rounded-full px-2 py-1 border text-white hover:bg-white hover:text-sky-500">
                    <i class="fa fa-pen"></i>
                </button>
                <!-- delete -->
                <button
                    class="bg-red-500 shadow-md rounded-full px-[9px] py-1 border text-white hover:bg-white hover:text-red-500">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

        <div class="flex items-center space-x-3">
            <!-- search -->
            <div class="border w-1/3 flex items-center p-1 rounded-md bg-gray-50 flex-1">
                <input type="text" class="bg-gray-50 w-full outline-none px-2" placeholder="Search">
                <span class="px-2"><i class="fa fa-search"></i></span>
            </div>

            <!-- button export -->
            <!-- <button class="bg-green-500 hover:bg-green-400 px-4 py-2 rounded-md font-semibold text-white">
                <i class="fa fa-file-excel"></i>
            </button> -->
            <!-- button table view -->
            <button (click)="viewTable.onOpenViewtable(); this.bindingScheduleTable(data)"
                class="bg-sky-500 hover:bg-sky-400 px-4 py-2 rounded-md font-semibold text-white">
                <i class="fa fa-table"></i>
            </button>
        </div>
    </div>

    <!-- content -->
    <div class="mx-4 mt-4">
        <div>
            <div class="flex-[3] shadow-md overflow-hidden border rounded-lg p-1">
                <div
                    class="px-4 pt-3 pb-2 font-semibold text-white uppercase bg-sky-500  rounded-t-md flex items-start justify-between">
                    <p>Course</p>
                </div>
                <!-- content -->
                <div class="px-1 py-3 flex items-start gap-2">
                    <div class="relative flex-1 overflow-x-auto">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-100 ">
                                <tr>
                                    <th scope="col" class="px-4 py-3 rounded-s-lg">
                                        Subject
                                    </th>
                                    <th scope="col" class="px-4 py-3">
                                        class size
                                    </th>
                                    <th scope="col" class="px-4 py-3">
                                        cohort
                                    </th>
                                    <th scope="col" class="px-4 py-3">
                                        time
                                    </th>
                                    <th scope="col" class="px-4 py-3">
                                        day
                                    </th>
                                    <th scope="col" class="px-4 py-3">
                                        Type
                                    </th>
                                    <th scope="col" class="px-4 py-3">
                                        Location
                                    </th>
                                    <th scope="col" class="px-4 py-3">
                                        lecturer
                                    </th>
                                    <th scope="col" class="px-4 py-3">
                                        Room
                                    </th>
                                    <th scope="col" class="px-4 py-3">
                                        duration
                                    </th>
                                    <th scope="col" class="px-4 py-3 rounded-e-lg">
                                        action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of data; index as i" class="bg-white ">
                                    <!-- course render -->
                                    <th scope="row" class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                        {{item.className}}
                                    </th>
                                    <td class="px-4 py-4">
                                        {{item.classSize}}
                                    </td>
                                    <td class="px-4 py-4">
                                        {{item.cohort}}
                                    </td>
                                    <td class="px-4 py-4">
                                        {{formatTimeHourMinute(item.timeStart)}} ->
                                        {{formatTimeHourMinute(item.timeEnd)}}
                                    </td>
                                    <td class="px-4 py-4">
                                        {{item.day}}
                                    </td>
                                    <td class="px-4 py-4">
                                        {{item.type == '1' ? 'Theory' : 'Practice'}}
                                    </td>
                                    <td class="px-4 py-4">
                                        {{item.location == '1' ? 'LT' : 'NVC'}}
                                    </td>
                                    <td class="px-4 py-4">
                                        <span *ngFor="let id of item.lecturerID; index as i">
                                            <span *ngIf="i >= 1 && i < item.lecturerID.length">,</span>
                                            {{getTeacher(id)}}
                                        </span>
                                    </td>
                                    <td class="px-4 py-4">
                                        {{getRoomName(item.roomID)}}
                                    </td>
                                    <td class="px-4 py-4">
                                        {{item.duration}}
                                    </td>
                                    <td class="px-4 py-4">
                                        <a [routerLink]="[envUrl.courseView_admin,item.courseID]" 
                                        class="h-[35px] w-[35px] font-medium text-sky-600 rounded-full 
                                        hover:bg-gray-100 flex items-center justify-center">
                                            <i class="fa fa-eye text-lg"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- view table component -->
    <app-viewtable #viewTable [dataCourse]="dataCourseBeforeSaveTable" ></app-viewtable>
</div>