<div class="p-3">
    <!-- toolbar -->
    <div class=" mx-4 mt-4 pb-3 border-b">
        <div class="mb-5 flex justify-between">
            <h1 class="text-3xl font-semibold border-l-[6px] border-blue-500 pl-3">{{title}}</h1>
            <div class="hidden" >
                <button class="hover:bg-slate-200 rounded-full h-8 w-8"> <i class="fa fa-cog"></i> </button>
            </div>
        </div>

        <div class="flex items-center space-x-3">
            <!-- search -->
            <div class="border w-1/3 flex items-center p-1 rounded-md bg-gray-50 flex-1">
                <input  #myTitle (keyup)="onSearch(myTitle.value)" type="text" class="bg-gray-50 w-full outline-none px-2" placeholder="Search">
                <span class="px-2"><i class="fa fa-search"></i></span>
            </div>
            <!-- request button -->
            <button (click)="popup.onOpenPopup()" *ngI
                class="bg-sky-500 hover:bg-sky-400 px-3 py-1.5 rounded-md font-semibold text-white">
                <i class="fa fa-paper-plane"></i> Request
            </button>
        </div>
    </div>

    <!-- content -->
    <div class="p-4">
        <!-- bar table -->
        <div class="border-2 p-4 rounded-lg bg-white shadow-md w-fit" [ngClass]="[borderColor]">
            <div class="w-fit">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Select status
                </label>
                <!-- button filter status -->
                <div class="flex items-center space-x-3">
                    <button *ngFor="let status of statusList; index as index" (click)="onSelectStatus(index)"
                        class="shadow-md border px-4 py-1 rounded-md uppercase"
                        [ngClass]="statusSelect == index ? getStatusColor(status) : '' ">{{status}}</button>
                </div>
            </div>
        </div>

        <!-- table -->
        <div class="mt-4 rounded-lg overflow-hidden border border-slate-300">
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th *ngFor="let key of columnsKey" scope="col" class="px-6 py-3">
                                {{key}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data, index as i"
                            class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                            <td class="px-4 py-2">
                                {{i+1}}
                            </td>
                            <!-- <td class="px-4 py-2">
                                {{item.Id}}
                            </td> -->
                            <td class="px-4 py-2">
                                {{item.content}}
                            </td>
                            <td class="px-4 py-2">
                                {{item.reason}}
                            </td>
                            <td class="px-4 py-2">
                                <span > <i [ngClass]="{'text-green-500':item.timeSelect == 1,'text-red-500':item.status == 'reject'}" class="fa fa-circle"></i>  {{formatDateTime(item.time)}} </span>
                                <hr class="my-2" >
                                <span> <i  [ngClass]="{'text-green-500':item.timeSelect == 2, 'text-red-500':item.status == 'reject'}" class="fa fa-circle"></i> {{formatDateTime(item.time)}} </span>
                            </td>
                            <td class="px-4 py-2">
                                {{item.date}}
                            </td>
                            <td class="px-4 py-2">
                                <div class="p-1 w-[70px] text-center rounded-md text-white"
                                    [ngClass]="[getStatusColor(item.status)]">
                                    {{item.status}}
                                </div>
                            </td>
                            <td class="px-4 py-2 ">
                                <!-- detail -->
                                <!-- <button
                                    class="h-[35px] w-[35px] font-medium text-sky-600 rounded-full hover:bg-gray-100">
                                    <i class="fa fa-eye text-lg"></i>
                                </button> -->
                                <!-- cancel -->
                                <button
                                    (click)="cancelRequest(item.requestID)"
                                    class="h-[35px] w-[35px] font-medium rounded-full hover:bg-gray-100 text-orange-600 hidden">
                                    <i class="fa fa-minus-circle text-lg"></i>
                                </button>
                                <!-- remove -->
                                <button
                                    (click)="deleteRequest(item.requestID)"
                                    class="h-[35px] w-[35px] font-medium rounded-full hover:bg-gray-100 text-orange-600">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>











<!-- view model popup -->
<app-popup #popup [popupTitle]="title">
    <div sectionPopup class="space-y-2">
        <!-- schedule -->
        <h2 class="mb-1 text-lg font-semibold">Schedule</h2>
        <div class="flex gap-5">
            <!-- left -->
            <div class="flex-1">
                <form class="max-w-md mx-auto">
                    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only ">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                            </svg>
                        </div>
                        <input type="search" id="default-search"
                            class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 shadow-sm rounded-lg bg-gray-50"
                            placeholder="Search Schedule" required />
                        <button type="submit"
                            class="text-white absolute end-1.5 bottom-[5px] bg-sky-600 hover:bg-sky-800 font-medium rounded-md text-sm px-2 py-1">Search</button>
                    </div>
                </form>
                <!-- list schedule -->
                <div class="border rounded-lg shadow-sm p-2 bg-white mt-2">
                    <li class="flex items-center gap-2" *ngFor="let item of [1,2,3]">
                        <button class="text-xs bg-sky-400 px-1 rounded-sm shadow-md text-white" >select</button> 
                        <span>TKB lop dai tra</span>
                        <span class="flex-1 text-right text-gray-600 text-xs" >2024-2028</span>
                    </li>
                </div>
            </div>
            <!-- right -->
            <div class="flex-1 border py-2 px-3 rounded-lg shadow-sm border-sky-400">
                <span class="font-semibold">Thoi Khoa Bieu Lop Dai Tra</span>
                <ul>
                    <li>HK: <span class="text-gray-600">1</span></li>
                    <li>Year: <span class="text-gray-600">2024</span></li>
                    <li>Course: <span class="text-gray-600">20</span></li>
                    <li>Teacher: <span class="text-gray-600">22</span></li>
                </ul>
            </div>
        </div>

        <!-- course -->
        <h2 class="mb-1 text-lg font-semibold">course</h2>
        <div class="flex gap-5">
            <!-- left -->
            <div class="flex-1">
                <form class="max-w-md mx-auto">
                    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only ">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                            </svg>
                        </div>
                        <input type="search" id="default-search"
                            class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 shadow-sm rounded-lg bg-gray-50"
                            placeholder="Search course" required />
                        <button type="submit"
                            class="text-white absolute end-1.5 bottom-[5px] bg-sky-600 hover:bg-sky-800 font-medium rounded-md text-sm px-2 py-1">Search</button>
                    </div>
                </form>
                <!-- list course -->
                <div class="border rounded-lg shadow-sm p-2 bg-white mt-2">
                    <ul>
                        <li class="flex items-center gap-2" *ngFor="let item of [1,2,3,4,6,5]">
                            <button class="text-xs bg-sky-400 px-1 rounded-sm shadow-md text-white" >select</button> 
                            <span>Toan roi rac</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- right -->
            <div class="flex-1 border py-2 px-3 rounded-lg shadow-sm border-sky-400 space-y-1">
                <span class="font-semibold">Toan Roi Rac</span>
                <div>
                    <span class="mb-1">Select new Day:</span>
                    <div class="flex items-start gap-2">
                        <span class="rounded-md text-gray-600 text-sm bg-gray-200 px-2 cursor-pointer hover:bg-sky-300"
                            *ngFor="let item of ['mon','tue','wed','thur','fri','sun','sat']">{{item}}</span>
                    </div>
                </div>
                <div>
                    <span>Select new Time</span>
                    <form class="flex gap-2">
                        <!-- time start -->
                        <input type="text" id="small-input"
                            class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs"
                            placeholder="Start">
                        <!-- time end -->
                        <input type="text" id="small-input"
                            class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs"
                            placeholder="End">
                    </form>
                    <div class="text-gray-600 text-xs my-1">--Or--</div>
                    <!-- auto select time -->
                    <div>
                        <button
                            class="select-none rounded-lg bg-gray-900 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
                            type="button">
                            Time Auto
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- reason -->
        <div>
            <form class="w-full space-y-2">
                <div>
                    <textarea id="message" rows="4"
                        class="resize-none block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-sky-400"
                        placeholder="Leave a reason..."></textarea>
                </div>
            </form>
        </div>

        <!-- button -->
        <div class="w-1/3 mx-auto text-white">
            <button class="w-full bg-sky-600 py-1 rounded-sm">request</button>
        </div>
    </div>
</app-popup>